<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# project_track: http://ogp.me/ns/fb/project_track#">
  <meta property="fb:app_id" content="531630580186665" /> 
  <meta property="og:type"   content="project_track:project" /> 
  <meta property="og:url"    content="http://social-project-tracking.appspot.com/project/{{ project_id }}" /> 
  <meta property="og:title"  content="Sample Project" /> 
  <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />  

    <script type="text/javascript">
  function postProject()
  {
      FB.api(
        '/me/project_track:start',
        'post',
        { project: 'http://social-project-tracking.appspot.com/project/{{ project_id }}' },
        function(response) {
           if (!response || response.error) {
              alert('Error occured');
           } else {
              alert('Start was successfull! Action ID: ' + response.id);
           }
        });
  }
  </script>
  <title>Project {{ project.name }}</title>
</head>
  <body>
  	  <div id="fb-root"></div>


  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '531630580186665', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>
  {{ project.name }}
  {{ project.business }}

    <form>
    <input type="button" value="Start" onclick="postProject()" />
  </form>


  </body>
<html>